# Ignoring python bytecode files
*.pyc

# Ignoring temporal files
*~

# Ignoring pycharm idea folder
.idea/

# Ignoring build directories
pyeer.egg-info/
build/
dist/

# Ignoring CSV files
*.csv

# Ignoring TODO file
TODO.txt

venv/